/01-Manos-a-la-obra/Java-manos-a-la-obra-01/nbproject/private/
/01-Manos-a-la-obra/Java-manos-a-la-obra-02/nbproject/private/
/01-Manos-a-la-obra/Java-manos-a-la-obra-01/build/
/01-Manos-a-la-obra/Java-manos-a-la-obra-02/build/
/02-Ejercicios-de-aprendisaje/Java-relaciones-ejer02/nbproject/private/
/02-Ejercicios-de-aprendisaje/Java-relaciones-ejer03/nbproject/private/